/***********************************************    MEDIA QUERIES     **********************************************************************/



@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  
.navbar-brand>img {
    display: block;

    
}
  .navbar .nav>li>a {
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 30px;
}
}

/*****************************************************    HTML   ***************************************************************************************/

body {
    font-family: Arial;
}

h1, h1 a {
    color: #555555;
    text-decoration: none;
   
}
 h1{font-size: 2.6575rem;
}

#masthead {
    padding-left:10px;
    min-height: 199px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    margin-top: 50px;
}

#masthead .well{
    margin-top: 31px;
    min-height: 127px;
}

a, a:hover {
    color: #223344;
    text-decoration: none;
}

button, select{
    text-transform: none;
    background-color: #02B875;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
   
}
/*********************************************     NAVBAR          ******************************************************************************/
.navbar .nav>li>a {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 30px;
}
.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}


#logo {
    color: #12AB82;
}


/**************************************       HOMEPAGE   **************************************************************************/

#bodyHomePage{
    background-color: #02B875;
}

.buttonHome{
    background-color: #02B875
}
/**************************************ADDED-PROPERTY PAGE(LIST OF PROPERTIES)   **************************************************************************/

h1{font-size: 2.6575rem;
    margin-top: 90px;
    margin-bottom: 90px;
    padding-left: 26px;
}

form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem + 2px);
    padding: 2.5rem 30.1rem;
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
h1{font-size: 2.6575rem;
}
/**************************************LOG IN PAGE **************************************************************************/

form {
    margin-top: 103px;
    margin-bottom: 300px;

}

 h2 {
    margin-bottom: 0.5rem;
    margin-top: 7rem;
    font-weight: 700;
    line-height: 1.2;
}

/**************************************SIGN UP PAGE  **************************************************************************/


h2, .h2 {
    font-size: 2.126rem;
    margin-right: 72px;
}

/**************************************  PROFILE PAGE  **************************************************************************/
#avatar {
    margin-top: 40px;
    border-radius: 30px;
}

p{
    font-family: Roboto, Cambria, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    margin-top: 39px;
    margin-bottom: 1rem;
}

   h3{
    color:  #02B875;
    font-weight: 50;
    font-style: inherit;
    line-height: 1.2;
    margin-top: 14rem;
    font-weight: 800;
}

.smallertext{
      background-color: #02B875;
      font-size: 12px;
      font-style: italic;
}
.linkonGreen{
    color: #02B875;
}

/**************************************  SUBSCRIBE PAGE  **************************************************************************/

.textSubscription{
    display:content;
}

.smallertext1{
      border-color: #02B875;
      border-style: solid;
      font-size: 11px;
      font-style: italic;
}
.textInOrange{
    color: orange;
    font-size: 18px;
    font-style: bold;
    
}

.textInRed{
    color:red;
    font-size: 15px;
    font-style: oblique;
}
/**************************************       FOOTER   **************************************************************************/

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.thumbnail>img, .thumbnail a>img {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 350px;
}

.navbar-form input, .form-inline input {
    width: auto;
}


.story-img {
    margin-top: 25%;
    display: block;
}


.icon-bar {
    background-color: #fff;
}

.dropdown-menu {
    min-width: 250px;
}

.panel {
    border-color: transparent;
    border-radius: 0;
}

.thumbnail {
    margin-bottom: 8px;
}

.img-container {
    overflow: hidden;
    height: 170px;
}

.img-container img {
    min-width: 280px;
    min-height: 180px;
    max-width: 380px;
    max-height: 280px;
}

.txt-container {
    overflow: hidden;
    height: 100px;
}

.panel .lead {
    overflow: hidden;
    height: 90px;
}

.label-float {
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: .9;
    padding: 6px;
    color: #fff;
}

.boldtext{
    font-weight: bold;
}


#bodyHomePage{
    /*background-image: url('static/images/logo.png');*/
    background-color: blue;
}