{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body id="bodyHomePage">

<div class="bg"></div>

<p> <img  class="logoHomePage" src="{% static 'images/logo.png' %}" text-align="center"> ReviewMyLandlord</a> </p>


 
      
    
     
   <a href="{% url 'home' %}"> <input class="btn btn-primary"  name="home" type="submit" value="Home"></a>
</body>

</html>


     