{% extends 'base.html' %} {% block content %}
{% load bootstrap_tags %}
<div class="container-fluid">
    <div class="row">
        <h1>Property Details</h1>
        <div class="col-sm4">
            <div class="thumbnail">

                <img src="{{MEDIA_URL}}{{property.image}}" alt="">
                <h1><b>{{property.type_property}}</b></h1>
                <p><h1>{{property.address}}</h1></p>
                <p>Description:</br>
                   {{property.description}}</p>
                <p>Price: {{property.price}} €</p> 
                <h3><i>Landlord Details</i></h3>
                <p> Name:{{property.landlord}}</p>
                <p></p>
                 <div class='col-sm2'>
        
    
                <h3><i>Tenant Details</i></h3>
                <p>Name:{{property.tenant}}</p>
                <p>Gender:{{property.tenant}}</p>
              
            </div>
        </div>
    </div>
    
    <hr>
<h2>Reviews</h2>
<hr>
{% if user.is_authenticated %}
<form method="POST" action="{% url 'write_review' property.id %}">
    {% csrf_token %}
    <p> Write the review of the landlord/landlady and house wihtin this form, please.</p>
    {{ form.as_p }}
    
    <input type="submit" value="Submit"/>
</form>
{% endif %}
<hr>
<div>
    <h2>Reviews</h2>
    <p>You can see here all the reviews of people who had lived here previously</p>
    {% for review in property.reviews.all|dictsortreversed:'created_date' %}
    
    
    <h3>{{ review.title }}  <i>{{ review.tenant.full_name }}</i></h3>
    <p>{{ review.content }}</p>
    
    <hr>
    
    {% endfor %}
    
</div>

    {% endblock %}
